.ck-editor__editable {
    min-height: 200px; /* Set your desired height here */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
    color: black;
}
